@import "./partials/reset.scss";
@import "./partials/settings.scss";
@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css";

$white-color : #EFF9EC;
$lightblue : #57C1C7;
$black_color: #14273D;
$background-larger:#57C1C7;

$dotted_underline: 2px $lightblue dotted;
//$inferno : Viral Inferno;




//============================ large only
@media #{$large-only}{

body{
  display:block;
  margin:2em 7em;
  background:$background-larger;

}
.row{

  background:$white-color;
  border-top: solid 1px $lightblue;
}


.row h1{

  font-size:1em;
  color: $lightblue;
  padding:1em;
  text-align:center;

  
}
.row .clearfix{

  float:left;

}

.row .nav {

  padding:1em 1em;
  text-decoration: none;
  text-align:center;

       li{

        display:inline;
        margin:0 0.5em 0 0;
        color: #FCFFFF;
          a{

            text-decoration: none;
          }
        }
}

h2{

  color:$black_color;
  font-size:2em;
  padding-top:1em;
    a{
  text-decoration:none;
  border-bottom: dotted $lightblue;
    }
}
h3{

  font-size:1.2em;
    a{

      text-decoration: none;
    }
}

.read_more{
  display:block;
  background:$lightblue;
  margin:2.9em 0;
  text-align:center;
  padding:1em 0;
  color:$white-color;
}

.right ul li{
  
  display:inline;
}
.content{

  margin:0 2em 0 2em;
}
article {
  float:left;
  margin:0 2 1em 3em 3em;
  padding: 1em 2em 2em 0;
  width:50%;
  border-right:solid 2px $lightblue;
  

  
    h3{

      color: $lightblue;
      margin:0.4em 0 3em 0;

    }
}
aside{

  display:block;
  float:right;
  margin:3.1em 10em 3em 1em;
  width:16%;
  
    h4{
      margin:0 0 0.5em 0;
      color:$lightblue;
      font-size:1.3em;
    }
      p{

        line-height:1.5em;
        
      }

}
.read_more{

  text-align:center;


  
}
.left {

  display:block;
  float:right;
  margin: 1em 1em;

  
}
.footer_links{

  margin:1em 2em 0 4em;
  padding-bottom:1em;
      li a{

      text-decoration: none;
      color:$black_color;
    }
}
footer{

  padding:1em 0 0 0;
}




}

//=============================== medium only
 @media #{$medium-only}{

  body{

    
  }
  .row {

    
    padding: 1em 0 1em 0;
    
  
    .nav {

    padding:1em 0 0.5em 0;
    text-align:center;
    
      li {

        display:inline;

        a {
          text-decoration: none;
          color: $black_color;
          margin:0 1em 0 0;
    
        }
      }
    }
  }
  h1{

     // margin: 0 6em 1em 6em;
     text-align:center;
     font-size: 1.2em;
     color: $lightblue;
     letter-spacing: 2px;
     padding: 1em 0 1em 0;
     border-top: 1px solid $lightblue;
     border-bottom: 1px solid $lightblue;

  }
  h2{

    margin: 0 1em 0 1em;

  }
  article h2 a{

    font-size:2em;
    text-decoration:none;
    color: $black_color;
    border-bottom:1px dashed $lightblue;
    margin: 1em 1em 0 0;

  }

  
    margin: 0 1em 0 1em;
  
  article{
     margin: 0 0 3em 0;

  }
  h3 > a {
  text-decoration: none;
  border-bottom: $dotted_underline;
  color: $black_color;

  }
  h3{
    
    color:$lightblue;
    margin: 1em 1em 2em 1em;
  }
  h4{
    color:$lightblue;
    font-size:20px;
    margin:0 0 0.4em 0;
    padding-top:2em;
  }
  aside{

    margin:2.7em 1em 0.6em 1em;
  }
  article p{

    margin: 0 1em 0 1em;
  }
  .read_more{
    position:relative;
    display:block;
    margin:3em 0 1em 0;
    padding: 2em 0;
    background:$lightblue;
    color: $white-color;
    text-align:center;
    
  }
  .footer_links li{

    display:inline;
    margin: 0 0.4em 4em 0;

  }
  .footer_links a{

    text-decoration: none;
    color:$black_color;
  }
  .footer_links{
     text-align:center;
     //margin-bottom:1.4em;
     padding: 1.8em 0 0 0;
     border-top: $lightblue 1px solid;
  }


  .left{

    display:none;
  }



 }


//======================================= small only
@media #{$small-only}{

body{

  margin: 0 0 0 0;
  font-family: Droid Serif,400;
}
.row .nav li{

  display:inline;
  margin:0 0em 0 0;
  background:$lightblue;
  color: #FCFFFF;
}
.content{
  margin: 0 2em 0 2em;
}

 

article{

  margin:0 0 3em 0;
     h2{

      margin:2em 0 0 0;
        a{

          text-decoration: none;
          border-bottom:$dotted_underline;
          color:black;
          font-size:2em;

        }
    }
  
}

.row .nav, aside, .left {

  
  display:none;
}
.row h1{
  display:block;
  background: $lightblue;
  text-align:center;
  color:$white-color;
  padding:0.5em 0;


}

h3 > a {
  text-decoration: none;
  border-bottom: $dotted_underline;
  color: $black_color;
  }
h3{

  color:$lightblue;
  margin: 0.4em 0 2em 0;
}

  
.footer_links {
  //position:relative;
  padding: 3em 0 0 0;
  text-align:center;
  border-top: $lightblue 1px solid;
    li {
  
      margin:0 2em 0 0;
      display:inline;
        a{
          text-decoration: none;
          color: $black_color;
  
        }
    }
}
 
footer{
  position:relative;
  margin:1em 0 3em 0;
}
 





}





